<div class="eqLogic eqLogic-widget allowResize allowLayout eqLogic_layout_default" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width: #width#;height: #height#;#style#" data-category="#category#">
  <span class="pull-left" style="margin-top: 3px;margin-left: 3px;" title="#alert_name#">
    <i class='#alert_icon#'></i>
  </span>
  <style type="text/css">
  .rows-with-margin {
    margin-bottom: 5px;
  }
  </style>

  <center class="widget-name">
    <span class="reportModeVisible" style="font-size : 1.5em;display:none;">#name_display# <span style="font-size: 0.85em;">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden" style="font-size : 1.5em;#hideEqLogicName#">#name_display# <span style="font-size: 0.85em;">#object_name#</span></a>
  </center>
  <div class="verticalAlign">
    <center style="padding: 5px;">
      #group_basic#
      #group_colors#
      #group_numeric#
      #group_record#
      #group_multimedia#
      #group_others#
    </center>
  </div>
</div>
