<div class="row">
  <div class="col-sm-3">#power off#</div>
  <div class="col-sm-3">#3d#</div>
  <div class="col-sm-3">#tv#</div>
  <div class="col-sm-3">#input#</div>
</div>
<div class="row">
  <div class="col-sm-3">#menu#</div>
  <div class="col-sm-3">#teletext#</div>
  <div class="col-sm-3">#subtitles#</div>
  <div class="col-sm-3">#aspect#</div>
</div>
<div class="row">
  <div class="col-sm-3">#info#</div>
  <div class="col-sm-3 col-sm-offset-6">#cancel#</div>
</div>
<div class="row">
  <div class="col-sm-1 col-sm-offset-5">#home#</div>
</div>
<div class="row">
  <div class="col-sm-1 col-sm-offset-1">#apps#</div>
  <div class="col-sm-1 col-sm-offset-3">#up#</div>
  <div class="col-sm-1 col-sm-offset-3">#epg#</div>
</div>
<div class="row">
  <div class="col-sm-1 col-sm-offset-4">#left#</div>
  <div class="col-sm-1">#ok#</div>
  <div class="col-sm-1">#right#</div>
</div>
<div class="row">
  <div class="col-sm-1 col-sm-offset-5">#down#</div>
</div>
<div class="row">
  <div class="col-sm-1">#option#</div>
  <div class="col-sm-1 col-sm-offset-9">#back#</div>
</div>
<div class="row">
  <div class="col-sm-3">#red#</div>
  <div class="col-sm-3">#green#</div>
  <div class="col-sm-3">#yellow#</div>
  <div class="col-sm-3">#blue#</div>
</div>
<div class="row">
  <div class="col-sm-1">#vol+#</div>
  <div class="col-sm-1 col-sm-offset-9">#channel+#</div>
</div>
<div class="row">
  <div class="col-sm-1 col-sm-offset-5">#mute#</div>
</div>
<div class="row">
  <div class="col-sm-1">#vol-#</div>
  <div class="col-sm-1 col-sm-offset-9">#channel-#</div>
</div>
<div class="row">
  <div class="col-sm-1">#1#</div>
  <div class="col-sm-1 col-sm-offset-4">#2#</div>
  <div class="col-sm-1 col-sm-offset-4">#3#</div>
</div>
<div class="row">
  <div class="col-sm-1">#4#</div>
  <div class="col-sm-1 col-sm-offset-4">#5#</div>
  <div class="col-sm-1 col-sm-offset-4">#6#</div>
</div>
<div class="row">
  <div class="col-sm-1">#7#</div>
  <div class="col-sm-1 col-sm-offset-4">#8#</div>
  <div class="col-sm-1 col-sm-offset-4">#9#</div>
</div>
<div class="row">
  <div class="col-sm-1">#guide#</div>
  <div class="col-sm-1 col-sm-offset-4">#0#</div>
  <div class="col-sm-1 col-sm-offset-4">#last view#</div>
</div>
<div class="row">
  <div class="col-sm-1">#rewind#</div>
  <div class="col-sm-1 col-sm-offset-4">#play#</div>
  <div class="col-sm-1 col-sm-offset-4">#fast forward#</div>
</div>
<div class="row">
  <div class="col-sm-1">#previous#</div>
  <div class="col-sm-1 col-sm-offset-4">#pause#</div>
  <div class="col-sm-1 col-sm-offset-4">#next#</div>
</div>
<div class="row">
  <div class="col-sm-1 col-sm-offset-5">#stop#</div>
  <div class="col-sm-1 col-sm-offset-4">#record#</div>
</div>
